{% extends 'layout.html' %}
{% load static %}
{% block content%}


<!-- Hero Section -->
<header class="row bg-black">
   
    <div class="col-md-8 my-auto p-4">
      <h1>My name is <strong>Josué López Mendoza</strong></h1>
      <br>
      <h3>I'm a computer engineering student</h3>
      <br>
      <p>Throughout my education, I developed skills in
        programming and problem solving. My goal is to
        secure an internship where I can apply my
        knowledge and skills, contribute to the company's
        success, and continue learning in a professional
        environment</p>
        <br>
        <h3>My Tech Stack</h3>
        <ul class="tech-stack">
          <li><img src="{% static 'portfolio/java.png'%}" alt="Java Icon" class="icon-img">  Java</li>
          <li><img src="{% static 'portfolio/piton.png'%}" alt="Python Icon" class="icon-img">  Python</li>
          <li><img src="{% static 'portfolio/letra-c.png'%}" alt="C Icon" class="icon-img"> C</li>
          <li><img src="{% static 'portfolio/secuencia-de-comandos-de-java.png'%}" alt="JavaScript Icon" class="icon-img"> JS</li>
          <li><img src="{% static 'portfolio/html.png'%}" alt="SQL Icon" class="icon-img">  HTML</li>
          <li><img src="{% static 'portfolio/css.png'%}" alt="SQL Icon" class="icon-img">  CSS</li>
          <li><img src="{% static 'portfolio/servidor-sql.png'%}" alt="SQL Icon" class="icon-img">  SQL</li>
          <li><img src="{% static 'portfolio/sql.png'%}" alt="SQL Icon" class="icon-img">  PL/SQL</li>
          <li><img src="{% static 'portfolio/hoja.png'%}" alt="SQL Icon" class="icon-img">  Mongodb</li>
            <!-- Agrega más íconos personalizados según tus necesidades -->
        </ul>
      
    </div>
    
</header>

<!-- Porfolio Section -->
<div class="row my-4 text-center">

    <h3>My Projects</h3>
    
  
    {% for project in projects %}
    <div class="col-md-4 p-4">
      <div class="card bg-black card-project">
        <img src="{{project.image.url }}" class="card-img-top" />
  
        <div class="card-body">
  
          <h2>{{ project.title }}</h2>
          
  
          {% if project.url %} <a href="{% url 'proyect_detail' project.id  %}" class="btn btn-primary btn-sm"  rel="noreferrer">View details</a>
         
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row my-4 text-center">

    <h3><strong>Get in touch</strong></h3>
    
    <form>

      <label for="fname">Company</label>
      <input type="text" id="fname" name="firstname" placeholder="Company name..">
  
      <label for="lname">Email</label>
      <input type="text" id="lname" name="lastname" placeholder="Email">
  
      
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input class="btn btn-primary btn-sm" type="submit" value="Submit">
  
    </form>
  
    
  </div>

{% endblock %}