<article  class="main-container animate__animated animate__fadeIn">
    <header class="title-container">
        <h2 class="section-title animate__animated animate__rubberBand"><strong>Experience</strong></h2>
    </header>
    <div  class="job-card">
        <header class="job-header">
            <h3 class="job-title">Full Stack Developer</h3>
        </header>
        <div class="job-dates"> KuarcTech Solutions Feb-2024 / Jul-2024</div>
        <li class="job-description">
            Proposed new ideas such as using NGRX with Angular
            to manage components states and improve communication
            between them.
        </li>
        <li class="job-description">
            Refactored ande liminated repetitive code, improving efficiency and
            maintainability, which resulted in more agile development and
            reduced potential errors.
        </li>
        <li class="job-description">
            Developed and modeled relational database scripts optimizing
            queries and data structures to improve performance.
        </li>
        <li class="job-description">
            Collaborated with cross-functional teams to understand business needs and
            translate them into technical solutions.
        </li>

    </div >


</article>