<article class="main-container animate__animated animate__fadeIn">
    <header class="title-container">
        <h2 class="section-title animate__animated animate__rubberBand"><strong>Experience</strong></h2>
    </header>
    <div class="job-card">
        <header class="job-header">
            <h3 class="job-title">Full Stack Intern</h3>
        </header>
        <div class="job-dates"> Kuarctech Feb-2024 / Aug-2024</div>
        <li class="job-description">
            Participated in daily meetings with the product team and stakeholders, contributing to the definition and
            refinement of 15+ user stories.
        </li>
        <li class="job-description">
            Mentored and onboarded new interns by providing comprehensive system training and guidance, ensuring a
            smooth integration into the development team.
        </li>

        <li class="job-description">
            Participated in the execution of testing, verifying functionality, identifying errors, and evaluating the integration of system components.
        </li>
        <li class="job-description">
            Designed and optimized SQL database schemas by establishing efficient table relationships to enhance data integrity. These optimizations reduced query times from 2 seconds to 1.5 seconds on average.
        </li>

        <li class="job-description">
            Implemented data access layer using Entity Framework Core with database-first approach, optimizing LINQ
            queries that resulted in 40% faster response times while maintaining clean architecture principles.
        </li>
        <li class="job-description">
            Reduced code duplication by 40% through the implementation of design patterns and creation of reusable
            components, resulting in a more maintainable codebase and reduced development time for new features.

        </li>
        <li class="job-description">
            Implemented state management with NgRx in an Angular application, reducing data synchronization issues
            between components by 30% and improving user experience.
        </li>

    </div>


</article>