<div class="row justify-content-center">
    <div class="col-8 col-md-6">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <a target="_blank"
                    href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-836fcaec-6d00-41f2-aa79-7e48f8c46e06.pdf"
                    class="carousel-item active" data-bs-interval="10000">
                    <img src="assets/images/MicroCertfi.PNG" class="d-block w-100 small-carousel-img" alt="Certificate" />
                </a>
            </div>
    
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</div>