.cards {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    gap: 15px;
    justify-content: center;
    width: 300px;
}
.skills-img:hover {
    transform: scale(2);
}

.skills-img:hover .skills-img {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.divider {
    height: 2px;
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(90deg, #000000, #d80a0a);
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
  