<div class="about-container">
    <div class="title-container">
        <h2 class="section-title animate__animated animate__rubberBand"><strong>About me</strong></h2>
    </div>
    <div class="about-card">
        <img class="about-img" src="assets/images/Me.webp" loading="lazy" alt="About me">
        <div class="about-content">
            <p class="about-description">
                Computer engineer with a strong desire to grow and make meaningful contributions
                through innovative solutions. 
            </p>
            <p class="about-description">With experience as a full stack developer I
                aim to drive value for my team.</p>
        </div>

    </div>
</div>