<article class="about-container animate__animated animate__fadeIn" aria-labelledby="about-title">
    <header class="title-container">
        <h2 id="about-title" class="section-title animate__animated animate__rubberBand">
            <strong>About me</strong>
        </h2>
    </header>

    <div class="about-card">
        <figure>
            <img class="about-img" src="assets/images/Me.webp" loading="lazy" alt="Photo of Josué">
        </figure>

        <div class="about-content">
            <p class="about-description">
                Hi! I’m Josué, an Engineer. I know the 'Engineer' isn’t necessary, but after four years of university, 
                I have to make the most of it. My first 'Hello World' was in 2020, and in February 2024, my first 
                Pull Request was accepted in a professional project.
            </p>
            <p class="about-description">
                I have experience as a full stack developer and throughout my career, I’ve always tried to propose 
                ideas that enhance the development process. This mindset allowed me to take leadership roles, guiding 
                new interns in their first steps in the company.
            </p>
            <p class="about-description">
                I'm always looking to grow personally and professionally, and I believe continuous learning and 
                collaboration are the keys to building great things.
            </p>
        </div>
    </div>
</article>
