@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";



html,
body {
  font-family: 'Poppins', sans-serif;

  scroll-behavior: smooth;
  background: #0F2027;
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.title-container {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}


.section-title {
  font-size: 2rem;
  color: white;
  margin: 0;
  padding-bottom: 8px;
  text-align: center;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #c4ff2f;
}


::-webkit-scrollbar {
  width: 8px; 
}


::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #c4ff2f; 
  border-radius: 10px; 
  transition: background 0.3s ease; 
}