

.navbar-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease; 
  background-color: transparent; 
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}



.nav-link.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 5px;
  }
  
  .nav-link.underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c4ff2f;
    transition: width 0.3s ease-in-out;
  }
  
  .nav-link.underline:hover::after {
    width: 100%;
  }
  