<nav class="navbar navbar-expand-lg" [class.navbar-scrolled]="scrolled">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex align-items-center ">
        <span class="nav-link text-white underline" (click)="scrollToSection('home')"><strong>Home</strong></span>
        <span class="nav-link text-white underline" (click)="scrollToSection('exp')"><strong>Experience</strong></span>
        <span class="nav-link text-white underline" (click)="scrollToSection('projects')"><strong>Projects</strong></span>
        <span class="nav-link text-white underline"  (click)="scrollToSection('about')"><strong>About me</strong></span>
      </div>
    </div>
  </div>
</nav>