<nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container-fluid">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex align-items-center ">
          <a class="nav-link text-white underline" href="#experience"><strong>Experience</strong></a>
          <a class="nav-link text-white underline" href="/projects"><strong>Projects</strong></a>
          <a class="nav-link text-white underline" href="#experience"><strong>About me</strong></a>
          <a class="nav-link text-white underline" href="/projects"><strong>Certifications</strong></a>
        </div>
      </div>
    </div>
  </nav>