<div class="main-container">
    <section id="home">
        @defer (on viewport) {
            <app-hero-section></app-hero-section>
        } @placeholder {
            <p-progressSpinner ariaLabel="loading" />
        } @error {
            <p-messages [(value)]="messages" [closable]="false" />
        }
    </section>

    <section id="exp">
        @defer (on viewport) {
            <app-experience></app-experience>
        } @placeholder {
            <p-progressSpinner ariaLabel="loading" />
        }  @error {
            <p-messages [(value)]="messages" [closable]="false" />
        }
    </section>

    <section id="projects">
        @defer (on viewport) {
            <app-projects [projects]="projects"></app-projects>
        } @placeholder {
            <p-progressSpinner ariaLabel="loading" />
        }  @error {
            <p-messages [(value)]="messages" [closable]="false" />
        }
    </section>

    <section id="about">
        @defer (on viewport) {
            <app-about-me></app-about-me>
        } @placeholder {
            <p-progressSpinner ariaLabel="loading" />
        } @error {
            <p-messages [(value)]="messages" [closable]="false" />
        }
    </section>
</div>
