<div class="main-container">
    <div id="home">
        @defer (on viewport) {
        <app-hero-section></app-hero-section>

        }@placeholder {
        <div>By default2</div>
        }@loading {
        <div>Cargando.....2</div>
        }@error {
        <div>Error al cargar el componente2</div>
        }

    </div>

    <div id="exp">
        @defer (on viewport) {
        <app-experience></app-experience>

        }@placeholder {
        <div>By default</div>
        }@loading {
        <div>Cargando.....</div>
        }@error {
        <div>Error al cargar el componente2</div>
        }
    </div>

    <div id="projects">
        @defer (on viewport) {
        <app-projects [projects]="projects"></app-projects>

        }@placeholder {
        <div>By default</div>
        }@loading {
        <div>Cargando.....</div>
        }@error {
        <div>Error al cargar el componente</div>
        }
    </div>

    <div id="about">
        @defer (on viewport) {
        <app-about-me></app-about-me>

        }@placeholder {
        <div>By default</div>
        }@loading {
        <div>Cargando.....</div>
        }@error {
        <div>Error al cargar el componente</div>
        }
    </div>


</div>