<div class="cards">
    <div class="card">
        <div class="tools">
            <div class="circle">
                <span class="red box"></span>
            </div>
            <div class="circle">
                <span class="yellow box"></span>
            </div>
            <div class="circle">
                <span class="green box"></span>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center mb-3">
            <div class="p-2"><strong>WorkoutTracker</strong></div>
            <div class="p-2">Pequeña descripción de ejemplo</div>
            <div class="p-2"><strong>Written in C#</strong></div>
        </div>
    </div>
</div>
