<div class="cards">
    
        <div  class="card">
            <div class="tools">
              <div class="circle"><span class="red box"></span></div>
              <div class="circle"><span class="yellow box"></span></div>
              <div class="circle"><span class="green box"></span></div>
            </div>
            <div class="card-content d-flex flex-column h-100">
              <div class="project-title p-2 text-center"><strong>WorkoutTracker</strong></div>
              <div class="project-description flex-grow-1 p-2 text-center">
                This project involves creating a backend system for a workout tracker application
              </div>
              <div class="project-footer p-2 text-center">
                <strong>Written in C#</strong>
              </div>
            </div>
          </div>
</div>
